*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.big-container{
    width: 500px;
    height: 500px;
}
.top-row{
    display: flex;
    height: 80%;
    width: 100%;
    /*  ; */
}

.top-row-left{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 20%;
    border-right: 15px solid black;

}

.top-row-left-top{
    height: 50%;
    width: 100%;
    background-color: #e3e2dd;
    border-bottom: 20px solid black;
}

.top-row-left-bottom{
    height: 50%;
    width: 100%;
    background-color: #e3e2dd;
    border-bottom: 15px solid black;
}
.top-row-right{
    width: 80%;
    background-color: #e02828;
    border-bottom: 15px solid black;
}

.bottom-row{
    display: flex;
    height: 20%;
    width: 100%;
    /*  ; */
}
.bottom-row-left{
    height: 100%;
    width: 20%;
    background-color: #005c9d;
    border-right: 15px solid black;
}

.bottom-row-middle{
    height: 100%;
    width:70%;
    background-color: #e3e2dd;
    border-right: 15px solid black;
}

.bottom-row-right{
    height: 100%;
    width: 10%;
    
}

.bottom-row-right-top{
    height:40%;
    width: 100%;
    background-color:#e3e2dd;
    

}

.bottom-row-right-bottom{
    height:60%;
    width: 100%;
    background-color:#eedc70;
    border-top: 17px solid black;
}