*{
  padding: 0px;
  margin: 0px;
  font-family: cursive;
  box-sizing: border-box;
}

/* Utility classes */

.container {
  width: 80%;
  margin: 0px auto;
}
.flex{
  display: flex;
}
.mt-1{
  margin-top: 4px;
}
.mt-2{
  margin-top: 8px;
}
.mt-3{
  margin-top: 15px;
}
.btn {
  padding: 3px 10px;
  font-size: 0.6em;
  color: antiquewhite;
  background-color: cornflowerblue;
  border-color: black;
  box-shadow: 2px 2px 0px black;
  font-family: Arial, Helvetica, sans-serif
}
input{
  padding: 2px;
}
